*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(224, 172, 93);
    color: rgba(200,165,60);
}
h1{
    margin-bottom: 1.8rem;
}
h1, h3{
    text-align: center;
}
h3{
    margin-bottom: 0.8rem;
}
main{
    background-color: rgb(100,82,30);
    opacity: 0.8;
    border-radius: 20px;
    width: 64rem;
    margin: 1rem auto;
    padding: 2rem 1.2rem;
    position: relative;
}
.container{
    display: flex;
    gap: 1.8rem;
    /* align-items: center; */
    justify-content: center;
    flex-flow: row nowrap;
}
img{
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
}

ul, ol{
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
a{
    background-color: rgb(50,41,15);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    padding: 0.6rem 1.2rem;
    position: absolute;
    bottom: 1.2rem;
    right: 3.2rem;
}